
.details-page {
   width: 40%;
   margin:10% auto;
   background: rgb(255, 255, 255);

   .tags{
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      

      .tag{
         background: rgba(199, 199, 199, 0.123);
         padding: 2%;

        &:hover{
            background: rgba(199, 199, 199, 0.212);
         }
      }
   }

   .mainbutton {
      margin: 5px auto;
      width: 100%;
      background: blue;
      padding: 4%;
      color: white;
      border: none;
      cursor: pointer;
   }
  }