@import "../../Assete/main.scss";

.searchbar {
  width: 100%;
  height: 30vh;
  background-image: linear-gradient(#2d73a5ab, rgb(240, 247, 255)),
    url("https://images.unsplash.com/photo-1519494080410-f9aa76cb4283?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80");
  padding: 5% 0%;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;

  div {
    width: 50vw;
    background: rgb(255, 255, 255);
    padding: 1% 2%;
    display: flex;
    border-radius: 15px;
    display: flex;
    gap: 3%;
  }
}
